{{define "pds_tmplt"}}
{{$user := .Query.User}}
{{$hasPatient := "false"}}
{{range .PDSRetrieveResponse.Name}}
    {{if ne .Family ""}}
        {{$hasPatient = "true"}}
    {{end}}
{{end}}
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading panel-default" style="text-align: center;color: blue;">           
            {{if eq $hasPatient "false"}}
                <span style="color: red;">No NHS Spine PDS Patient Record Found for {{.Query.Nhs}}</span>
            {{else}}
                NHS Spine PDS Patient Record for {{.Query.Nhs}}
                {{if eq .PDSResponse "retrieve"}}
                    {{$conf := ""}}
                    {{range .PDSRetrieveResponse.Meta.Security}}
                        {{$conf = .Display}}
                    {{end}}
                    <td>Confidentiality {{$conf}}</td>
                    {{if not .PDSRetrieveResponse.DeceasedDateTime.IsZero}}
                    <span style="color: red;">Patient is Deceased</span>
                    {{end}}
                {{else}}
                    {{if eq .PDSResponse "search"}}
                        {{$conf := ""}}
                        {{range .PDSSearchResponse.Entry}}
                            {{if eq .Resource.ResourceType "Patient"}}
                                {{range .Resource.Meta.Security}}
                                    {{$conf = .Display}}
                                {{end}}
                            {{end}}
                        {{end}}
                        <td>Confidentiality {{$conf}}</td>
                        {{if not .PDSSearchResponse.DeceasedDateTime.IsZero}}
                        <span style="color: red;">Patient is Deceased</span>
                        {{end}}
                    {{end}}
                {{end}}
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <td data-toggle="collapse" data-target="#pds1" class="accordion-toggle"><span
                                class="glyphicon glyphicon-chevron-down"></span> Address</td>
                        <td data-toggle="collapse" data-target="#pds2" class="accordion-toggle"><span
                                class="glyphicon glyphicon-chevron-down"></span> Contact</td>
                        <td data-toggle="collapse" data-target="#pds3" class="accordion-toggle"><span
                                class="glyphicon glyphicon-chevron-down"></span> Other Details</td>
                    </tr>
                </thead>
                <tbody>
                    {{if eq .PDSResponse "retrieve"}}
                        {{template "pdsretrieve_tmplt" .}}
                    {{else}}
                        {{template "pdssearch_tmplt" .}}
                    {{end}}
                </tbody>
            </table>
        </div>
            {{end}}
    </div>
</div>
</body>
<style>
    body {
        padding-top: 50px;
        background-color: #34495e;
        font-family: sans-serif;
    }
</style>

</html>
{{end}}